@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Modak&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Baloo Da 2", cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.dp-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.aln-center {
  align-items: center;
}

svg text {
  font-family: "Modak", cursive;
  letter-spacing: 10px;
  /* stroke: #b980dd; */
  fill: black;
  font-size: 3.5rem;
  stroke-width: 3;

  animation: textAnimate 5s ease alternate infinite;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 100;
    stroke-dashoffset: -10;
    fill: #000;
    stroke: #fff;
  }

  25% {
    /* stroke-dasharray: 50% 50%;
    stroke-dashoffset: 50%; */
    fill: #000000;
    stroke: #ffffff;
    /* stroke: rgb(72, 255, 0); */
  }

  100% {
    stroke-dasharray: 40 0;
    stroke-dashoffset: -10;
    fill: #ffffff;
    stroke: #d114d1;
  }
}

main {
  height: 100vh;
  width: 100vw;
}

.canva {
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: -10;
  overflow: hidden;
}

.navTop {
  position: fixed;
  top: 0;
  justify-content: space-between;
  background-color: #000;
  height: 8rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  z-index: 20;
}

@media (min-width: 1024px) {
  svg text {
    font-size: 4rem;
    transform: translate(-25%, -50%);
  }
  .navTop {
    height: 5.2rem;
  }
}

.ham-wrapper {
  /* width: 100%; */
  height: 5rem;
  position: relative;
  top: 0;
  /* left: 0; */
  z-index: 1;
  /* background-color: darkblue; */
}

.toggle-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.ham-wrapper .hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightpink; */
}

.ham-wrapper .hamburger-menu > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.ham-wrapper .hamburger-menu > div::before,
.ham-wrapper .hamburger-menu > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.ham-wrapper .hamburger-menu > div::after {
  top: 10px;
}

.ham-wrapper .toggle-menu:checked + .hamburger-menu > div {
  transform: rotate(135deg);
}

.ham-wrapper .toggle-menu:checked + .hamburger-menu > div::before,
.ham-wrapper .toggle-menu:checked + .hamburger-menu > div::after {
  top: 0;
  transform: rotate(90deg);
}

.ham-wrapper .toggle-menu:checked:hover + .hamburger-menu > div {
  transform: rotate(315deg);
}

.ham-wrapper .toggle-menu:checked ~ .menu {
  visibility: visible;
}

.ham-wrapper .toggle-menu:checked ~ .menu > .item-container,
.ham-wrapper .toggle-menu:checked:not(:focus) ~ .menu > div {
  transform: translateY(0);
}

.ham-wrapper .menu {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightgrey; */
}

.ham-wrapper .menu .item-container {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-110%);
  transition: all 0.5s ease;
}

.ham-wrapper .menu .item-container .items {
  list-style-type: none;
  color: #8610e0;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: end;
  display: flex;
}

.ham-wrapper .menu .item-container .items li {
  /* margin: 2rem 0; */
  /* padding: 0 0.5rem; */
}

.ham-wrapper .menu .item-container .items a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.ham-wrapper .menu .item-container .items a:hover {
  background-color: #ffffff44;
  color: #fff;
}

@media (min-width: 1024px) {
  .toggle-menu {
    visibility: hidden;
  }

  .ham-wrapper .hamburger-menu {
    visibility: hidden;
  }

  .ham-wrapper .menu {
    /* right: 0; */
    height: 5rem;
    width: 20rem;
    visibility: visible;
  }

  .ham-wrapper .menu .item-container {
    transform: translateY(0%);
  }
}

.mainBody {
  /* height: calc(100vh - 8.5rem); */
  margin: 6rem 1rem 2rem;
  border-radius: 1rem;
  flex-direction: column-reverse;
}

.socialMediaContainer {
  width: 100%;
  height: 3rem;
  position: relative;
  bottom: 0;
  left: 0;
  flex-direction: column;
  background: linear-gradient(0deg, #4a2ff973, #cf93f171);
  border-radius: 0 0 1rem 1rem;
  z-index: 10;
  /* padding: 0.5rem; */
}

.socialConnect {
  width: fit-content;
  padding: 0 0.5rem;
}

.socialMediaContainer .socialConnect svg:hover {
  fill: white;
}

.socialMediaContainer .socialConnect svg:hover path {
  fill: white;
}

.socialMediaContainer .socialConnect.freecodecamp svg:hover path {
  stroke: whitesmoke;
}

.socialMediaContainer .socialConnect svg {
  height: 1.5rem;
  width: 1.5rem;
}

.contentContainer {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 8.5rem); */
  border-radius: 1rem 1rem 0 0;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: inset 0 0 8px #ada7a79c;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.welcomeDiv {
  /* height: inherit; */
  position: relative;
  padding-top: 3rem;
  width: 100%;
  flex-direction: column-reverse;
}

.welcomeTextContainer {
  height: 10rem;
  max-width: 35rem;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}

.freelancerPictureContainer {
  padding: 0 1rem;
  background-color: #c4c4c486;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.myself {
  position: relative;
  top: 2rem;
  width: 13rem;
  border-radius: 1rem;
  box-shadow: 0 3px 30px #00000033;
}

@media screen and (min-width: 1024px) {
  .mainBody {
    /* height: calc(100vh - 6rem); */
  }

  .welcomeDiv {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;
  }

  .freelancerPictureContainer {
    padding: 1rem 0;
    margin: 3rem 0;
  }

  .myself {
    top: 0;
    right: 1.5rem;
    box-shadow: -3px 0 30px #00000033;
  }
}

.welcomeTextContainer h2 {
  font-size: 1.5rem;
}

.welcomeTextContainer p {
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  .welcomeTextContainer h2 {
    font-size: 2.5rem;
  }

  .welcomeTextContainer p {
    font-size: 1.5rem;
  }
}

.showcase {
  margin-top: 3rem;
  width: 100%;
}

.heading,
.showcaseText {
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.showcaseText {
  font-size: 1.5rem;
}

/* card styles */

.showcaseTileContainer {
  position: relative;
  margin-top: 3.5rem;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  transition: 1s ease;
}

/* card styles */

.Products {
  position: relative;
  margin: 2rem 1rem;
  height: fit-content;
  width: 100%;
  max-width: 30rem;
  display: flex;
  border: none;
  border-radius: 1.5rem;
  transition: ease 0.5s;
  box-shadow: 0 3px 10px #84838544;
  cursor: pointer;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .Products {
    margin: 2rem;
  }
}

.hover-me {
  padding: 0.5rem;
  color: #000000;
  position: absolute;
  transform: translateY(-8rem);
  font-family: var(--courgette);
  transition: ease 0.3s;
  z-index: 1;
  border: 1px solid #770f77;
  border-radius: 6px;
  background: #ffffff;
}

.product-title {
  padding: 0.5rem;
  color: black;
  font-family: var(--lobster);
  font-weight: bold;
  position: absolute;
  transform: translateY(-1rem);
  transition: ease 0.5s;
  z-index: 1;
  border: 1px solid #770f77;
  border-radius: 6px;
  background-color: #fff;
}

.read-more {
  padding: 0.5rem;
  font-family: var(--lobster);
  color: #000000;
  position: absolute;
  transform: translateY(1rem);
  opacity: 0;
  visibility: hidden;
  transition: ease 0.5s;
  border: 1px solid #770f77;
  border-radius: 6px;
  font-weight: 600;
  background: #ffffff;
}

.p-image {
  height: auto;
  width: 100%;
  opacity: 0.4;
  visibility: visible;
  transition: ease 0.5s;
  border: none;
  border-radius: inherit;
}

.Products:hover .p-image {
  opacity: 1;
  visibility: visible;
}

.Products:hover .product-title {
  color: #000000;
  opacity: 1;
  visibility: visible;
  transform: translateY(-8rem);
  /* background: #ffffffc0; */
}

.Products:hover .read-more {
  opacity: 1;
  visibility: visible;
  transform: translateY(8rem);
}

.read-more:hover {
  color: #000000;
}

.Products:hover .hover-me {
  opacity: 0;
  visibility: hidden;
}

main .Products:nth-child(2) .product-title {
  color: black;
  font-family: var(--lobster);
  font-weight: bold;
}

@media (max-width: 768px) {
  .p-image {
    opacity: 1;
  }

  .hover-me {
    padding: 0.5rem;
    color: #000000;
    position: absolute;
    transform: translateY(-8rem);
    font-family: var(--courgette);
    transition: ease 0.3s;
    z-index: 1;
    border: 1px solid #770f77;
  }

  .product-title {
    padding: 0.5rem;
    color: black;
    font-family: var(--lobster);
    font-weight: bold;
    position: absolute;
    transform: translateY(-1rem);
    transition: ease 0.5s;
    z-index: 1;
    border: 1px solid #770f77;
  }

  .read-more {
    background: #ffffff;
    color: #000000;
    transform: translateY(8rem);
    opacity: 1;
    visibility: visible;
  }

  .product-title {
    transform: translateY(-8rem);
    background: #fff;
  }

  .hover-me {
    opacity: 0;
    visibility: hidden;
  }

  .Products:hover .product-title {
    color: #000000;
    opacity: 1;
    visibility: visible;
    transform: translateY(-8rem);
    background: #ffffffb4;
  }

  .Products:hover .read-more {
    opacity: 1;
    visibility: visible;
    transform: translateY(8rem);
  }

  .Products:hover .hover-me {
    opacity: 0;
    visibility: hidden;
  }
}

/* card styles */
/* card styles */

.contactMe {
  /* height: inherit; */
  width: 100%;
  background: url("../images/ian-taylor-GmE1tMTsYf0-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(240, 230, 140, 0.466);
  padding: 2rem 0;
}

.form {
  height: 100%;
  width: 70%;
  max-width: 50rem;
}

.formInner {
  /* height: 70%; */
  background-color: #ffffff80;
  border-radius: 1rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem;
}

.inputContainer {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 1rem 0.6rem;
  align-items: flex-end;
}

.message {
  width: 90%;
}

.inputContainer input {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-bottom: 2px solid #000;
  background: transparent;
}

.inputContainer label {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: text;
  user-select: none;
}

.inputContainer input::placeholder {
  color: transparent;
}

.inputContainer input:focus + label,
.inputContainer input:active + label,
.inputContainer input:not(:placeholder-shown) + label {
  bottom: 1.5rem;
  left: 0;
}

.submit {
  width: 100%;
  background: linear-gradient(0deg, #4b2ff9, rgb(134, 34, 228));
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px -4px #00000077;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
