@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Modak&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Baloo Da 2", cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.dp-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.aln-center {
  align-items: center;
}

svg text {
  font-family: "Modak", cursive;
  letter-spacing: 10px;
  stroke: #993cd2;
  fill: black;
  font-size: 3.5rem;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 10%;
    fill: #8610e0;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -40%;
    fill: #299bafe0;
  }
}

main {
  height: 100vh;
  width: 100vw;
}

.canva {
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: -10;
  overflow: hidden;
}

.navTop {
  justify-content: space-between;
  /* background-color: #ffffff28; */
  height: 8rem;
  border-radius: 0 0 1rem 1rem;
}

@media (min-width: 1024px) {
  svg text {
    font-size: 5rem;
    transform: translate(-25%, -50%);
  }
  .navTop {
    height: 5.2rem;
  }
}

.ham-wrapper {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color: darkblue; */
}

.toggle-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.ham-wrapper .hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ham-wrapper .hamburger-menu > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.ham-wrapper .hamburger-menu > div::before,
.ham-wrapper .hamburger-menu > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.ham-wrapper .hamburger-menu > div::after {
  top: 10px;
}

.ham-wrapper .toggle-menu:checked + .hamburger-menu > div {
  transform: rotate(135deg);
}

.ham-wrapper .toggle-menu:checked + .hamburger-menu > div::before,
.ham-wrapper .toggle-menu:checked + .hamburger-menu > div::after {
  top: 0;
  transform: rotate(90deg);
}

.ham-wrapper .toggle-menu:checked:hover + .hamburger-menu > div {
  transform: rotate(315deg);
}

.ham-wrapper .toggle-menu:checked ~ .menu {
  visibility: visible;
}

.ham-wrapper .toggle-menu:checked ~ .menu > .item-container,
.ham-wrapper .toggle-menu:checked:not(:focus) ~ .menu > div {
  transform: translateY(0);
}

.ham-wrapper .menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ham-wrapper .menu .item-container {
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-110%);
  transition: all 0.5s ease;
}

.ham-wrapper .menu .item-container .items {
  list-style-type: none;
  color: #8610e0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: end;
  display: flex;
}

.ham-wrapper .menu .item-container .items li {
  /* margin: 2rem 0; */
  padding: 0 1rem;
}

.ham-wrapper .menu .item-container .items a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

@media (min-width: 1024px) {
  .toggle-menu {
    visibility: hidden;
  }

  .ham-wrapper .hamburger-menu {
    visibility: hidden;
  }

  .ham-wrapper .menu {
    right: 0;
    height: 5rem;
    width: 20rem;
    visibility: visible;
  }

  .ham-wrapper .menu .item-container {
    transform: translateY(0%);
  }
}

.mainBody {
  height: calc(100vh - 6rem - 5rem);
  margin: 0 2rem;
  border-radius: 1rem;
}

.socialMediaContainer {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ae00ffbe;
  border-radius: 1rem 1rem 0 0;
  z-index: 10;
}

.connectMeText {
  line-height: 1.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0 0 0.5rem 0;
  /* color: white; */
}

.socialConnect {
  padding: 0.5rem 0.5rem 0;
}

.socialMediaContainer .socialConnect svg:hover {
  fill: white;
}

.socialMediaContainer .socialConnect svg:hover path {
  fill: white;
}

.socialMediaContainer .socialConnect.freecodecamp svg:hover path {
  stroke: whitesmoke;
}

.socialMediaContainer .socialConnect svg {
  height: 1.5rem;
  width: 1.5rem;
}

.contentContainer {
  height: calc(100vh - 8rem - 6rem);
  border-radius: 1rem;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: inset 0 0 8px #ada7a79c;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.welcomeDiv {
  position: relative;
  padding-top: 5rem;
  width: 100%;
  flex-direction: column-reverse;
}

.welcomeTextContainer {
  height: 10rem;
  max-width: 30rem;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}

.freelancerPictureContainer {
  padding: 0 1rem;
  background-color: #c4c4c486;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.myself {
  position: relative;
  top: 2rem;
  width: 13rem;
  border-radius: 1rem;
  box-shadow: 0 3px 30px #00000033;
}

@media screen and (min-width: 1024px) {
  .contentContainer {
    height: calc(100vh - 8rem - 3rem);
  }

  .welcomeDiv {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  .freelancerPictureContainer {
    padding: 1rem 0;
    margin: 3rem 0;
  }

  .myself {
    top: 0;
    right: 1.5rem;
    box-shadow: -3px 0 30px #00000033;
  }
}

.welcomeTextContainer h2 {
  font-size: 1.5rem;
}

.welcomeTextContainer p {
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  .welcomeTextContainer h2 {
    font-size: 2rem;
  }

  .welcomeTextContainer p {
    font-size: 1.5rem;
  }
}

.showcase {
  margin-top: 3rem;
  width: 100%;
}

.heading,
.showcaseText {
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.showcaseText {
  font-size: 1.5rem;
}

/* card styles */

.showcaseTileContainer {
  position: relative;
  margin-top: 3.5rem;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  transition: 1s ease;
}

/* card styles */

.Products {
  position: relative;
  margin: 2rem auto;
  height: 25rem;
  width: 20rem;
  display: flex;
  border: none;
  border-radius: 1.5rem;
  transition: ease 0.5s;
  box-shadow: 0 3px 10px #848385;
}

@media (min-width: 1024px) {
  .Products {
    margin: 2rem;
  }
}

.hover-me {
  padding: 0.5rem;
  color: #000000;
  position: absolute;
  transform: translateY(-8rem);
  /* opacity: 0;
  visibility: hidden; */
  font-family: var(--courgette);
  transition: ease 0.3s;
  z-index: 1;
  border: 1px solid #770f77;
}

.product-title {
  padding: 0.5rem;
  color: black;
  font-family: var(--lobster);

  font-weight: bold;
  position: absolute;
  transform: translateY(-1rem);
  /* opacity: 0;
  visibility: hidden; */
  transition: ease 0.5s;
  z-index: 1;
  border: 1px solid #770f77;
}

.read-more {
  padding: 0.5rem;
  font-family: var(--lobster);
  color: white;
  position: absolute;
  transform: translateY(1rem);
  opacity: 0;
  visibility: hidden;
  transition: ease 0.5s;
  border: 1px solid #770f77;
}

.read-more:hover {
  background: #ffffff;
  color: #000000;
}

/* .p-image {
  height: 100%;
  width: 100%;
  opacity: 0.3;
  visibility: visible;
  transition: ease 0.5s;
  border: none;
  border-radius: inherit;
} */

.Products:hover .p-image {
  opacity: 1;
  visibility: visible;
}

.Products:hover .product-title {
  color: #000000;
  opacity: 1;
  visibility: visible;
  transform: translateY(-8rem);
  background: #ffffff;
}

.Products:hover .read-more {
  opacity: 1;
  visibility: visible;
  transform: translateY(8rem);
}

.Products:hover .hover-me {
  opacity: 0;
  visibility: hidden;
}

main .Products:nth-child(2) .product-title {
  color: black;
  font-family: var(--lobster);
  font-weight: bold;
}

@media (max-width: 768px) {
  .p-image {
    opacity: 1;
  }

  .hover-me {
    padding: 0.5rem;
    color: #000000;
    position: absolute;
    transform: translateY(-8rem);
    /* opacity: 0;
  visibility: hidden; */
    font-family: var(--courgette);
    transition: ease 0.3s;
    z-index: 1;
    border: 1px solid #770f77;
  }

  .product-title {
    padding: 0.5rem;
    color: black;
    font-family: var(--lobster);

    font-weight: bold;
    position: absolute;
    transform: translateY(-1rem);
    /* opacity: 0;
  visibility: hidden; */
    transition: ease 0.5s;
    z-index: 1;
    border: 1px solid #770f77;
  }

  .read-more {
    background: #ffffff;
    color: #000000;
    transform: translateY(8rem);
    opacity: 1;
    visibility: visible;
  }

  .product-title {
    transform: translateY(-8rem);
    background: #fff;
  }

  .hover-me {
    opacity: 0;
    visibility: hidden;
  }
}

/* card styles */
/* card styles */
